body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container-cards {
  display: flex;
  gap: 20px;
}

.card {
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(119, 194, 204);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card {
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}
